<!DOCTYPE html>
<% import time %>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>EZshare</title>
    <script>
        function look(avid,fname) {
            $('#look-modal-avid').html(avid);
            $('#look-modal-title').html(fname);
            $('#look-modal-body').attr('src','/s?view=1&wd='+avid)
            $('#look-modal').modal('show');
        }
        function down(avid) {
            window.open('/s?wd='+avid)
        }
        function renew(avid) {
            window.location.assign('/renew?avid='+avid)
        }
        function renew_this() {renew($('#look-modal-avid').html());}
        function down_this() {down($('#look-modal-avid').html());}
    </script>
</head>
<body style="background-color: #DDD"><div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 100%">
            <a href="/up" class="btn btn-primary navbar-btn pull-right">
                <span class="glyphicon glyphicon-cloud-upload"></span>
            </a>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-share-alt"></span>
                &nbsp;EZShare
            </a>
        </div>
    </div>
</nav>
<ul class="list-group" style="width: 100%;">
    % for data in datas:
        <li class="list-group-item" style="line-height: 33px; height: 56px;" onclick="look('${data.avid}','${data.filename}')">
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" onclick="look('${data.avid}','${data.filename}')">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    &nbsp;查看
                </button>
                <button type="button" class="btn btn-default" onclick="down('${data.avid}')">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                    &nbsp;下载
                </button>
                <button class="btn btn-${'default' if data.dietime-time.time()>safetime else 'warning'}"
                        type="button" onclick="renew('${data.avid}')">
                    <span class="glyphicon glyphicon-flash"></span>
                    <% timetogo=int(data.dietime-time.time()) %>
                    <b>${timetogo//3600}:${'%02d'%(timetogo//60%60)}</b>
                </button>
            </div>
            <b>${data.avid}</b>&nbsp;
            <span class="label label-default">
                <span class="glyphicon glyphicon-file"></span>
                ${data.filename}
            </span>
        </li>
    % endfor
</ul>
<!-- look modal -->
<div class="modal fade" id="look-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span> &times;</span></button>
                <h4 class="modal-title">
                    <span id="look-modal-avid">NULL</span>:&nbsp;
                    <span id="look-modal-title">未选择文件</span>
                </h4>
            </div>
            <div class="modal-body" >
                <iframe style="width: 100%; height: 300px; border: 0px;" id="look-modal-body"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="renew_this()">续期</button>
                <button type="button" class="btn btn-primary" onclick="down_this()">下载</button>
            </div>
        </div>
    </div>
</div>
</div></body>
</html>