<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>EZShare</title>
</head>
<body style="background-color: #DDD">
<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 100%">
            <a href="/" class="btn btn-primary navbar-btn pull-right">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-share-alt"></span>
                &nbsp;EZShare
            </a>
        </div>
    </div>
</nav>
<form action="/up" method="post" enctype="multipart/form-data">
    <div class="well well-sm"><div class="row">
        <div class="col-sm-6"><div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
            <input class="form-control" name="avid" required="required" placeholder="AVID" autofocus="autofocus">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        onclick="alert('使用简短的词语描述你分享的文件。\n不能包含除下划线、横杠外的特殊符号。')">
                    ?
                </button>
            </span>
        </div></div>
        <div class="col-sm-6"><div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            <input class="form-control" name="strtime" required="required" placeholder="分享时间">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        onclick="alert('格式为“分钟数”、“小时数h 分钟数m”或“小时数 : 分钟数”。\n时间不能超过24h，文件会在到期后自动删除。')">
                    ?
                </button>
            </span>
        </div></div>
    </div></div>
    <div class="input-group"><!-- file -->
        <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span>&nbsp;上传文件&nbsp;≤50M</span>
        <input class="form-control" type="file" name="upfile">
        <span class="input-group-btn"><button class="btn btn-primary" type="submit" name="file" value="yes">上传</button></span>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">提交文本</h3></div>
        <div class="panel-body">
            <textarea class="form-control" style="height: 250px;" name="uptext"></textarea>
            <br />
            <button class="btn btn-primary" style="width: 100%;margin-top: -6px;" type="submit" name="file" value="no">提交</button>
        </div>
    </div>
</form>
</div>
</body>
</html>